extends layout
block content
    .container.mb-5
        ul.nav.nav-tabs.d-flex.justify-content-center 
            li.nav-item 
                a.nav-link(href='/admin/dashboard') Dashboard
            li.nav-item 
                a.nav-link(href='./my-posts') Posts 
            if user.role == 'Admin'
                li.nav-item 
                    a.nav-link(href='/admin/dashboard/featured-posts') Featured post
                li.nav-item 
                    a.nav-link(href='/users') Users  
            li.nav-item 
                a.nav-link.active(href='admin/dashboard/settings') Settings
    .row 
        .col-md-6
            .container.border.shadow.p-4.form-con-set
                h3.text-center Change Password
                form(method='POST' action='/admin/dashboard/settings')
                    input(type='hidden' name='_method' value='PUT')
                    label.form-label(for='password') New Password
                    input.form-control.border-2(type='password' id='password' name='password')
                    label.form-label(for='password2') Confirm New Password
                    input.form-control.border-2(type='password' id='password' name='password2')
                    br
                    button.btn.btn-primary(type='submit') Submit
            if user.role == 'Admin'
                .container.border.shadow.p-4.form-con-set.mt-3.mb-3
                    h3.text-center Seo
                    b Sitemap: 
                        a.text-decoration-none(href='/sitemap.xml') localhost:3000/sitemap.xml
                    br
                    br
                    b Robot.txt 
                    button.btn.btn-link(data-bs-toggle='collapse' data-bs-target='#robo') Edit
                    .collapse#robo
                        form(action='/admin/dashboard/settings/robot' method='POST')
                            input(type='hidden' name='_method' value='PUT')
                            textarea.form-control(name="robo", cols="30", rows="5")=robo
                            button.btn.btn-primary.mt-1(type='submit') Save
        .col-md-6
            if user.role == 'Admin'
                .container.border.shadow.p-4.form-cat
                    h3.text-center Add or Remove Categories
                    form(method='POST' action='/admin/dashboard/settings-category')
                        input(type='hidden' name='_method' value='PUT')
                        input#categoryTag.form-control(name='category' value=category)
                        button.btn.btn-primary.px-4.mt-2(type='submit') Save
            .container.border.shadow.p-4.form-cat.mt-3
                h3.text-center Add or Remove Tags
                form(method='POST' action='/admin/dashboard/settings-tag')
                    input(type='hidden' name='_method' value='PUT')
                    input#tagTag.form-control(name='tags' value=tags)
                    button.btn.btn-primary.px-4.mt-2(type='submit') Save
