extends ../layout 
block content 
    .cointainer-fluid.d-flex.justify-content-center.p-5
        .justify-content-center.align-item-center
            p.fs-3.d-block 404 page not found
            a.btn.btn-primary(href='/') Back to home page